<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-proyeccion-heading" jhiTranslate="cineApp.proyeccion.home.createOrEditLabel">Create or edit a Proyeccion</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.proyeccion.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
                    <div class="input-group">
                        <input id="field_fechaInicio" type="text" class="form-control" name="fechaInicio" ngbDatepicker #fechaInicioDp="ngbDatepicker" formControlName="fechaInicio"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaInicioDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechaInicio')!.invalid && (editForm.get('fechaInicio')!.dirty || editForm.get('fechaInicio')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaInicio')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.proyeccion.fechaFin" for="field_fechaFin">Fecha Fin</label>
                    <div class="input-group">
                        <input id="field_fechaFin" type="text" class="form-control" name="fechaFin" ngbDatepicker #fechaFinDp="ngbDatepicker" formControlName="fechaFin"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechaFin')!.invalid && (editForm.get('fechaFin')!.dirty || editForm.get('fechaFin')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaFin')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.proyeccion.hora" for="field_hora">Hora</label>
                    <div class="input-group">
                        <input id="field_hora" type="text" class="form-control" name="hora" ngbDatepicker #horaDp="ngbDatepicker" formControlName="hora"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="horaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('hora')!.invalid && (editForm.get('hora')!.dirty || editForm.get('hora')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hora')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.proyeccion.estado" for="field_estado">Estado</label>
                    <input type="checkbox" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                    <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('estado')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.proyeccion.pelicula" for="field_pelicula">Pelicula</label>
                    <select class="form-control" id="field_pelicula" name="pelicula" formControlName="pelicula">
                        <option *ngIf="!editForm.get('pelicula')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="peliculaOption.id === editForm.get('pelicula')!.value?.id ? editForm.get('pelicula')!.value : peliculaOption" *ngFor="let peliculaOption of peliculas; trackBy: trackById">{{ peliculaOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('pelicula')!.invalid && (editForm.get('pelicula')!.dirty || editForm.get('pelicula')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('pelicula')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.proyeccion.sala" for="field_sala">Sala</label>
                    <select class="form-control" id="field_sala" name="sala" formControlName="sala">
                        <option *ngIf="!editForm.get('sala')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="salaOption.id === editForm.get('sala')!.value?.id ? editForm.get('sala')!.value : salaOption" *ngFor="let salaOption of salas; trackBy: trackById">{{ salaOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('sala')!.invalid && (editForm.get('sala')!.dirty || editForm.get('sala')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('sala')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
