<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sala-heading" jhiTranslate="cineApp.sala.home.createOrEditLabel">Create or edit a Sala</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.sala.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                    <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.sala.estado" for="field_estado">Estado</label>
                    <select class="form-control" name="estado" formControlName="estado" id="field_estado">
                        <option value="Habilitada">{{ 'cineApp.EstadosSala.Habilitada' | translate }}</option>
                        <option value="Deshabilitada">{{ 'cineApp.EstadosSala.Deshabilitada' | translate }}</option>
                        <option value="Eliminada">{{ 'cineApp.EstadosSala.Eliminada' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('estado')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.sala.filas" for="field_filas">Filas</label>
                    <input type="number" class="form-control" name="filas" id="field_filas"
                           formControlName="filas"/>
                    <div *ngIf="editForm.get('filas')!.invalid && (editForm.get('filas')!.dirty || editForm.get('filas')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('filas')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('filas')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 7 }">
                            This field should be at least 7.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('filas')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 10 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('filas')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cineApp.sala.asientos" for="field_asientos">Asientos</label>
                    <input type="number" class="form-control" name="asientos" id="field_asientos"
                           formControlName="asientos"/>
                    <div *ngIf="editForm.get('asientos')!.invalid && (editForm.get('asientos')!.dirty || editForm.get('asientos')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('asientos')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('asientos')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 8 }">
                            This field should be at least 8.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('asientos')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 10 }">
                            This field cannot be more than 10.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('asientos')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
